// Descriptive color variables
$blushPink: #FF79DA;
$eucalyptus: #278666;
$gray: #818181;
$lavenderIndigo: #9256dc;
$mediumPurple: #9356DC;
$morningGlory: #99E2D0;
$orchid: #D579D5;
$paleRobinEggBlue: #9ae2d0;
$prim: #F4EEF4;
$tuatara: #363636; //Very dark gray
$whiteSmoke: #F6F6F6;
$wildSand: #F6F6F6;

// Fonctionnal color variables

$black: $tuatara;
$gradientColor: $orchid;
$grey: $wildSand;
$primary: $mediumPurple;
$primaryGreen: $eucalyptus;
$secondary: $blushPink;
$secondaryGreen: $paleRobinEggBlue;
$secondaryGrey : $gray;
$secondaryState : $prim;
$tertiary: $morningGlory;
$tertiaryState: $lavenderIndigo;
$white: $whiteSmoke;