// Descriptive color variables
$blushPink: #FF79DA; 
$eucalyptus: #278666;
$gray: #818181;
$lavenderIndigo: #9256dc;
$mediumPurple: #9356DC;
$morningGlory: #99E2D0;
$orchid: #D579D5;
$paleRobinEggBlue: #9ae2d0;
$prim: #F4EEF4;
$tuatara: #363636; //Very dark gray
$whiteSmoke: #F6F6F6;
$wildSand: #F6F6F6;

$lightPink: #FF79DA;
$limeGreen: #278666;
$darkGray: #818181;
$softViolet: #9256dc;
$mediumPurple: #9356DC;
$softCyan: #99E2D0;
$orchid: #D579D5;
$VerySoftCyan: #9ae2d0;
$lightGrayish: #F4EEF4;
$veryDarkGray: #363636; //Very dark gray
$whiteSmoke: #F6F6F6;
$wildSand: #F6F6F6;


// Fonctionnal color variables

$black: $veryDarkGray;
$gradientColor: $orchid;
$grey: $wildSand;
$primary: $mediumPurple;
$primaryGreen: $limeGreen;
$secondary: $lightPink;
$secondaryGreen: $VerySoftCyan;
$secondaryGrey : $darkGray;
$secondaryState : $lightGrayish;
$tertiary: $softCyan;
$tertiaryState: $softViolet;
$white: $whiteSmoke;