.header-title {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    
    img {
      height: 25px;
    }
  
    .back-home {
      left: 15px;
      position: absolute;
      top: 30px;
    }
  }
  
  .banniere-img {
    margin-bottom: -30px;
    max-height: 300px;
    object-fit: cover;
    width: 100%;
  }
  